.mainContent {
    width: 100vw;
}

.topLayer {
    width: 100%;
}

.mainContentSpace {
    background-color: white;
    height: 100%;
    width: 100%;
}

.titleArea {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
    .heading{
        grid-column: 1;
    }
    .newsHeading{
        grid-column: 2;
        justify-self: center;
        align-self: center;
    }
        .newsHeading h1 {
            font-size: 3em;
            align-self: center;
        }

.mainAboutUsSpace {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
}


.descriptionText {
    padding: 2% 5%;
}

.executiveBoard {
    background-image: url("../src/DSC_0416-1.jpg");
    background-size: cover;
}

    .executiveBoard h2{
        float: center;
    }
    .profileSpace {
        width: 90%;
        padding: 0 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .profile {
       color: white;
       width: 90%;
       height: 90%;
       margin: 3%;
       padding: 2%;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-areas: 1;
       background-color: rgba(89, 96, 99, 0.7);
    }

    .profileName {
        grid-column: 1;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
        .profileName h3{
            align-self: center;
            justify-self: center;
            grid-row: 1;
        }

        .sinterTitle{
            align-self: center;
            justify-self: center;
            grid-row: 2;
        }

        .regionTitle{
            align-self: center;
            justify-self: center;
            grid-row: 3;
        }

    .profileImage{
        grid-row: 1;
        grid-column: 2;
        width: 200px;
        height: 200px;
        align-self: center;
        justify-self: center;
        border-radius: 100%;
    }

    .profileNoPic{
        grid-row: 1;
        grid-column: 2;
        width: 200px;
        height: 200px;
        align-self: center;
        justify-self: center;
        border-radius: 100%;
        background-color: rgb(143, 187, 223);
    }

        #profileOne{
            background-image: url(../src/ChrisDerksen.JPG);
            background-size: cover;
            background-position: center;
        }

        #profileTwo{
            background-image: url(../src/NickRutter.jpg);
            background-size: cover;
            background-position: center;
        }

        #profileThree{
            background-image: url(../src/JessicaProfile.jpg);
            background-size: cover;
            background-position: top;
        }