.mainContent {
    width: 100vw;
}

.topLayer {
    width: 100%;
}

.mainContentSpace {
    background-color: white;
    height: 100%;
    width: 100%;
}

.titleArea {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
    .heading{
        grid-column: 1;
    }
    .newsHeading{
        grid-column: 2;
        justify-self: center;
        align-self: center;
    }
        .newsHeading h1 {
            font-size: 3em;
            align-self: center;
        }

.mainAboutUsSpace {
    margin: 0;
    height: 250px;
    width: 100%;
    background-color: rgb(240, 240, 240);
}


.descriptionText {
    padding: 2% 5%;
}

    .executiveBoard h2{
        text-align: center;
    }
    .profileSpace {
        width: 90%;
        padding: 0 5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .profile {
       width: 90%;
       height: 325px;
       margin: 3%;
       padding: 2%;
       display: grid;
       grid-template-rows: 2fr 1fr;
    }

        .profile a{
            color: rgb(55, 75, 104);
            text-decoration: none;
        }

            .profile a:hover {
                color:rgb(143, 187, 223);
            }

    .profileName {
        grid-row: 2;
        height: 10%;
        display: grid;
        grid-template-rows: 22px 20px 18px;
        row-gap: 0;
        justify-content: center;
    }
        .profileName h3 {
            justify-self: center;
        }

        .regionTitle {
            justify-self: center;
        }

        .workLink {
            justify-self: center;
        }


    .profileImage{
        grid-row: 1;
        width: 250px;
        height: 250px;
        align-self: center;
        justify-self: center;
        border-radius: 100%;
    }

    .profileNoPic{
        grid-row: 1;
        width: 250px;
        height: 250px;
        align-self: center;
        justify-self: center;
        border-radius: 100%;
        background-color: rgb(143, 187, 223);
    }

        #profileCD{
            background-image: url(../src/ChrisDerksen.JPG);
            background-size: cover;
            background-position: center;
        }

        #profileNR{
            background-image: url(../src/NickRutter.jpg);
            background-size: cover;
            background-position: center;
        }

        #profileJLq{
            background-image: url(../src/JessicaProfile.jpg);
            background-size: cover;
            background-position: top;
        }

        #profileMS{
            background-image: url(../src/MelodySandellsProfilePicture.jpg);
            background-size: cover;
            background-position: center;
        }

        #profileJLm{
            background-image: url(../src/JuhaLemmintyinen.jpg);
            background-size: cover;
            background-position: center;
        }

        #profileCV{
            background-image: url(../src/CarrieVuyovich.jpg);
            background-size: cover;
            background-position: right;
        }

        #profileMcS{
            background-image: url(../src/MckenzieSkiles.jpg);
            background-size: cover;
            background-position: center;
        }

        #profileNR{
            background-image: url(../src/NickRutter.jpg);
            background-size: cover;
            background-position: left;
        }
        
        #profileHPM{
            background-image: url(../src/hpmarshall.jpeg);
            background-size: cover;
            background-position: top;
        }

        #profileKR{
            background-image: url(../src/KarlRittgerProfile.jpg);
            background-size: cover;
            background-position: center;
        }

        #profileET{
            background-image: url(../src/E_Trujillo_1.jpg);
            background-size: cover;
            background-position: center;
        }

        #profileAT{
            background-image: url(../src/AmritThapa.jpg);
            background-size: cover;
            background-position: center;
        }

        #profileSG{
            background-image: url(../src/Simon.jpeg);
            background-size: cover;
            background-position: center;
        }

        #profileGM{
            background-image: url(../src/giulia_pic_SINTER.jpg);
            background-size: cover;
            background-position: center;
        }