/*This code is for the news, about us, quarterly meetings, and main snow school page. The top portion is general style rules for all pages, while lower you will 
find more specialized code for individual pages. The order goes as follows:

1. General Page Code
2. Snow School Main Page Code
3.
*/


/*1. General Page Code*/

.bottomLayer {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    margin: 0;
}
.bottomLayer img{
    float: right;
    height: 100%;
}

.topLayer {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: grid;
    margin: 0;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}

.mainContentSpace {
    grid-column: 1 /span 12;
    grid-row: 1 / span 3;
    background-color: white;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

    .newsHeading {
        grid-row: 2 / span 2;
        grid-column: 2 / span 2;
        justify-self: center;
        align-self: center;
    }

        .newsHeading h1 {
            font-size: 3em;
        }

.mainSelectionSpace {
    grid-row: 2 / span 2;
    grid-column: 1 / span 12;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: rgb(240, 240, 240);
    padding: 5%;
    column-gap: 5%;
    row-gap: 5%;
}

/*2. Snow School Main Page Code*/
.lessonProfile {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

.lessonProfile h2 {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.lessonTop {
    grid-row: 1;
    grid-column: 1;
    background-image: url("../src/Copy\ of\ IMG_9247.jpeg");
    background-size: cover;
    background-position: 35%;
}


/*This is the about us page main code*/
.mainAboutUsSpace {
    grid-row: 2 / span 3;
    grid-column: 1 / span 12;
    margin: 0;
    height: 100%;
    width: 90%;
    padding: 5%;
    background-color: rgb(240, 240, 240);
}
    .profileSpace {
        width: 90%;
        padding: 0 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .profile {
       width: 90%;
       height: 90%;
       margin: 3%;
       padding: 2%;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-areas: 1;
       background-color: rgba(203, 231, 241, 0.7);
    }

    .profileName {
        grid-column: 1;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
        .profileName h3{
            align-self: center;
            justify-self: center;
            grid-row: 1;
        }

        .sinterTitle{
            align-self: center;
            justify-self: center;
            grid-row: 2;
        }

        .regionTitle{
            align-self: center;
            justify-self: center;
            grid-row: 3;
        }

    .profileImage{
        grid-row: 1;
        grid-column: 2;
        width: 200px;
        height: 200px;
        align-self: center;
        justify-self: center;
        border-radius: 100%;
    }

    .profileNoPic{
        grid-row: 1;
        grid-column: 2;
        width: 200px;
        height: 200px;
        align-self: center;
        justify-self: center;
        border-radius: 100%;
        background-color: grey;
    }

        #profileOne{
            background-image: url(../src/ChrisDerksen.JPG);
            background-size: cover;
            background-position: center;
        }

        #profileTwo{
            background-image: url(../src/NickRutter.jpg);
            background-size: cover;
            background-position: center;
        }

        #profileThree{
            background-image: url(../src/JessicaProfile.jpg);
            background-size: cover;
            background-position: top;
        }

        